$color-primary: #00bce4;
$color-tertiary: #dbedf9;
$color-btn:  #f7820c;
$color-btn-grey: #e5e5e5;
$color-bkgd: #dceef9; // light bkgd
$color-light-bkgd: #e5e5e5;
$color-mid-bkgd: #999999;
$color-dark-bkgd: #666666;
$color-validation: #eb212e;
$color-pre-light: #cccccc;
$color-light: #ffffff;
$color-pre-dark: #565656;
$color-dark: #000000;
$color-primary-btn: #f58227;
$color-primary-btn-hover: #fcaf26;
$color-mobile-btn-top-border: #ececec;
$color-mobile-btn-bottom-border: #b6b6b6;
$color-list-zebra-dark: #eeeeee;
$color-schema-border: #e5e5e5;
$color-error: #ff0000;
$color-error-track: #feb000;
$color-arrow: #a1a1a1;
$color-very-light-bkgd: #f1f1f1;
$color-cheapest-hotel: #7f3f97;