.subscribe-newsletter {
    background-color: $color-bkgd;
    float: left;
    padding: 0 20px 20px 20px;
    
	.error-message {
		color: $color-error;
		font-weight: bold;
		@include generic-margin-top();
	}    

    .tnc {
        @include font-size(11);
    }

    .form-completion {
        display: none;
    }

}
