$site-left-margin: 18px;

$break-extra-small: 320px + $site-left-margin;
$break-small: 652px + $site-left-margin;
$break-medium: 768px + $site-left-margin; 
$break-large: 960px + $site-left-margin;

$break-min-mobile-landscape: 480px;
$break-min-mobile-portrait: 320px;


